# Ignore everything
*
# But descend into directories
!*/

# Recursively allow files under subtree
#!/Include/**

# You can be specific with these rules
!/Include/devd/**
!/Experts/devd-*.mq5


!/Profiles/*
!/Profiles/Templates/devd/*.tpl


!.gitignore

