# Ignore everything
*
*.exe
# But descend into directories
!*/

# Recursively allow files under subtree
#!/Include/**

# You can be specific with these rules
!/Include/devd/**
!/Experts/devd-*.mq5


!/Profiles/*
!/Profiles/Templates/devd/*.tpl

!/Indicators/RSI/**
Indicators/RSI/**/*.ex5


!/Scripts/devd/**
Scripts/devd/**/*.ex5


!/Indicators/devd/**
Indicators/devd/**/*.ex5

!.gitignore


